{% extends "base.html" %} {% load static %} {% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}" />
    </a>
    <h1>Real Time Satellite Imagery</h1>
    <p>The lastest image from the geostationary EUMETSAT Satellite .</p>
  </div>
</div>
<div class="container">
  <img src="https://api.met.no/weatherapi/geosatellite/1.4/?area=europe&type=visible&size=normal" alt="GEO Image of Europe" width="1920" height="800"> 
  <hr />
  
  <!-- row -->

  
</div>
{% endblock %}
